* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
    color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

::selection {
      background-color: #fe8623;
      color: #fff;
    }

.container {
    text-align: center;
    padding: 2rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #fe8623;
    color: white;
    text-decoration: none;
    border-radius: 2000px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.2s ease;
    min-width: 150px;
    text-align: center;
}

.button:hover {
    transform: scale(1.04);
}

.button.clock {
    background-color: #1B912B;
}

.button.wheel {
    background-color: #3b57f8;
}
